footer{
  position: absolute;
  display: flex;
  text-align: center;
  height: 3.5rem;
  width: 100%;
  color: white;
  bottom: 0;
  background-color: #45B2FA;

  ul{
    margin-top: 1rem;
    list-style: none;

    li{
      display: inline;
    }
  }
}