body {
  background-color: papayawhip;
  nav {

    .index{
      margin-right: 10px;
    }

.form-control{
  width: 30rem;
}

    .imglogo {
      width: 200px;
      height: auto;
      margin-right: 15rem;

    }
    .icosearch{
      width: 15px;

    }
    .deconnect{
      margin-left: 10px;
    }
  }
}