.category{
  margin-top: 5rem;

  .card {
    border-radius: 25px;
    height: 75px;
    padding-left: 2rem;

    margin-top: 2.5rem;

    a{
      text-decoration: none;
      color: unset;
    }

    .card-body {
      position: relative;
      text-align: left;

      padding: 0;

      h5{
        padding-top: 10px;
      }




      img {
        position: absolute;
        top: 0;
        right: 0;
        height: 75px;
        width: auto;
        margin-bottom: 0;
      }
    }
  }
}