.accueil{
  background-color: papayawhip;
}

img{
  width: 25rem;
}

.info {

  padding: 2rem;
  background-color: white;
  border-radius: 25px;



h2{
  color: #17a2b8;

}
  .connect{
    color: white;
    background-color: #17a2b8;
    padding: 0.5rem 1.5rem;
    margin-right: 2rem;
    border-radius: 10px;
  }

  .inscript{
    color: white;
    background-color: #1c7430;
    padding: 0.5rem 1.5rem;
    margin-left: 2rem;
    border-radius: 10px;
  }
}

.mountain{
  position: relative;
  flex: border-box;
  margin: 0;
  padding: 0;

  .green{
    right: 0;
    height: 100vh;
    top: 10rem;
    position: absolute;
     z-index: -2;
  }
  .blue{
    position: absolute;
    height: 100vh;
    width: 100%;
    bottom: 0;
    left: 0;
    top: 15rem;
    z-index: -1;
  }
.modal{
  position: absolute;
  z-index: 50;
}
}
