@import "templates/presentation";
@import "templates/footer";
@import "templates/header";
@import "templates/organiser";
@import "templates/storage";

::before, ::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body{
  position: fixed;
  height: 100vh;
  width: 100vw;

}